@import 'styles/colors.scss';

.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 50px;
  color: $text-color-light;
  background-color: $background-color;

  nav {
    & > button {
      margin-left: 15px;
    }
  }
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: $text-color-light;
  text-decoration: none;
}