@import 'styles/_colors.scss';

.productItem {
  width: 30%;
  margin-bottom: 36px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.title {
  padding: 0 16px;
}

.image {
  width: 100%;
}

.description {
  margin-bottom: 24px;
  padding: 0 16px;
}
.price {
  font-size: 28px;
}

.priceCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
  padding: 0 16px;
}

.cart {
  font-size: 18px;
  font-weight: 700;
  color: $text-color-light;
  padding: 12px 18px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  background-color: $primary-color;
}