@import 'styles/colors.scss';

.footer {
  display: flex;
  justify-content: space-between;
  padding: 24px 50px;
  color: $text-color-light;
  background-color: $background-color;

  nav {
    a {
      font-weight: 700;
      color: $text-color-light;
      margin-right: 24px;
      text-decoration: none;

      &:hover, &.active {
        color: $primary-color;
        transition: color linear 0.1s;
      }
    }
  }
}